.App {
  text-align: center;
}

.Wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  width: 100%
}

.Wrapper * {
  outline: none
}

@media(max-width: 960px) {
  .Wrapper {
    overflow-x: hidden
  }
}